{% load staticfiles %}
<meta charset="utf-8">
<center>
<a href="{% url 'reserved' %}">RESERVE this PATCHEE</a>
<h1>Alex's Profile for User</h1>
<p><br>
<img src="{% static "images/afroscript.png" %}" alt="表示できません">
<h2>Name:Alex </h2><br>
</p>

<h2>BASE DATA</h2>
<p>
SEX: male<br>
PREFECTURE: Fukuoka<br>
LANGUAGE: Japanese, Korean<br>
HOBBIES: rugby<br>
LICENCES: Doctor<br>
HOURLY WAGE:1000 (JPY/h)<br>
</p>
<h2>COMMENT</h2>
<p>
Welcome my page! I can take you around!
Enjoy Fukuoka!
</center>
</p>
